nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
}
li {
  float: left;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 20px;
    background-color: #dddddd;
}
nav a:hover{
    background-color: blanchedalmond;
}
nav a:active{
    background-color: rgb(236, 236, 127);
}